.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

.login-page {
  height: 70vh;
}
.login-box .show-password,
.login-box label {
  cursor: pointer;
}
